---
const siteDomein = "https://hanaman-group.com/system_panel/uploads/images/";
---

<div class="commonFooter">
    <div class="section sectionBg">
        <div class="sectionBgImg">
            <img src={siteDomein + '20240725233424251602.png'} alt="背景用の画像" class="img" width="1440" height="627" />
        </div>
        <div class="sectionInr">
            <div class="sectionHead">
                <h2 class="sectionHeadTtl">お問い合わせ</h2>
                <p class="sectionHeadDesc">Contact</p>
            </div>
            <p class="txt">
                華満グループのホームページをご覧いただきありがとうございます。<br>求人・予約や料理のご要望などは、下記のお電話または各種ボタンよりお問い合わせください。
            </p>
            <div class="btnBox">
                <div class="telBox">
                    <div class="tel">
                        <p class="txt">華満斐川本店</p>
                        <a href="tel:0853755800" class="telLink">
                            <img src={siteDomein + '20240726120642484785.png'} alt="電話アイコン画像" width="24" height="24" class="img">
                            <p class="telLinkTxt">0853-75-5800</p>
                        </a>
                    </div>
                    <div class="tel">
                        <p class="txt">華満出雲駅前店</p>
                        <a href="tel:0853213913" class="telLink">
                            <img src={siteDomein + '20240726120642484785.png'} alt="電話アイコン画像" width="24" height="24" class="img">
                            <p class="telLinkTxt">0853-21-3913</p>
                        </a>
                    </div>
                    <div class="tel">
                        <p class="txt">居酒屋 和皆門</p>
                        <a href="tel:0853725888" class="telLink">
                            <img src={siteDomein + '20240726120642484785.png'} alt="電話アイコン画像" width="24" height="24" class="img">
                            <p class="telLinkTxt">0853-72-5888</p>
                        </a>
                    </div>
                    <div class="tel">
                        <p class="txt">居酒屋 いずも</p>
                        <a href="tel:0853247372" class="telLink">
                            <img src={siteDomein + '20240726120642484785.png'} alt="電話アイコン画像" width="24" height="24" class="img">
                            <p class="telLinkTxt">0853-24-7372</p>
                        </a>
                    </div>

                </div>
                <div class="contactBox">
                    <a href="./recruit" class="normalBtn bgOrange">
                        <p class="normalBtnTxt">求人情報</p>
                    </a>
                    <a href="./contact" class="normalBtn">
                        <p class="normalBtnTxt">お問い合わせフォーム</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer sectionBg">
        <div class="sectionBgImg">
            <img src={siteDomein + '20240727104844132565.png'} alt="背景用の画像" class="img" width="1440" height="627" />
        </div>
        <div class="footerRow flex">
            <div class="footerInfo">
                <a href="./" class="footerLogo">
                    <img src={siteDomein + '20240726214639464176.png'} alt="華満グループ ロゴ画像" width="169"
                        height="98" class="img" />
                </a>
                <div class="footerAddress">
                    <p class="txt">出雲市斐川町上直江1285-1</p>
                    <a href="tel:0853755800" class="footerAddressLink">
                        <p class="txt">Tel.0853-75-5800</p>
                    </a>
                </div>
            </div>
            <div class="footerLink">
                <a href="./" class="navLink">
                    <p class="navLinkTxt">ホーム</p>
                </a>
                <a href="./hikawahonten" class="navLink">
                    <p class="navLinkTxt">華満斐川本店</p>
                </a>
                <a href="./izumoekimae" class="navLink">
                    <p class="navLinkTxt">華満出雲駅前店</p>
                </a>
                <a href="./wakaimon" class="navLink">
                    <p class="navLinkTxt">居酒屋 和皆門</p>
                </a>
                <a href="./izumo" class="navLink">
                    <p class="navLinkTxt">居酒屋 いずも</p>
                </a>
                <a href="./recruit" class="navLink">
                    <p class="navLinkTxt">採用情報</p>
                </a>
                <a href="./company" class="navLink">
                    <p class="navLinkTxt">会社概要</p>
                </a>
                <a href="./news" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
                <a href="./contact" class="navLink">
                    <p class="navLinkTxt">お問い合わせ</p>
                </a>
                <a href="./contact#privacy" class="navLink">
                    <p class="navLinkTxt">プライバシーポリシー</p>
                </a>
            </div>
        </div>
        <div class="footerCopy">
            <p class="txt">&copy; 2024 三昌株式会社</p>
            <div id="pageTopBtnLink" class="pageTopBtn">
                <a href="./" class="pageTopBtnLink"></a>
            </div>
        </div>
    </div>
</div>