---
const siteDomein = "https://hanaman-group.com/system_panel/uploads/images/";
---

<header class="header">
    <div class="headerInr">
        <a href="./" class="logo">
            <img src={siteDomein + '20240725233144584396.png'} alt="華満グループ ロゴ画像" width="106" height="61" class="logoImg" />
        </a>
        <nav class="headerNav">
            <div class="links">
                <a href="./hikawahonten" class="navLink">
                    <p class="navLinkTxt">華満斐川本店</p>
                </a>
                <a href="./izumoekimae" class="navLink">
                    <p class="navLinkTxt">華満出雲駅前店</p>
                </a>
                <a href="./wakaimon" class="navLink">
                    <p class="navLinkTxt">居酒屋 和皆門</p>
                </a>
                <a href="./izumo" class="navLink">
                    <p class="navLinkTxt">居酒屋 いずも</p>
                </a>
                <a href="./recruit" class="navLink">
                    <p class="navLinkTxt">採用情報</p>
                </a>
                <a href="./company" class="navLink">
                    <p class="navLinkTxt">会社概要</p>
                </a>
                <a href="./news" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
            </div>
            <a href="./contact" class="normalBtn">
                <p class="normalBtnTxt">お問い合わせ</p>
            </a>
        </nav>
    </div>
    <div class="hamburger">
        <p class="span"></p>
        <p class="span"></p>
        <p class="span"></p>
    </div>
    <nav class="globalMenuSp">
        <div class="hUl">
            <div class="hamburgerList">
                <a href="./hikawahonten" class="navLink">
                    <p class="navLinkTxt">華満斐川本店</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./izumoekimae" class="navLink">
                    <p class="navLinkTxt">華満出雲駅前店</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./wakaimon" class="navLink">
                    <p class="navLinkTxt">居酒屋 和皆門</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./izumo" class="navLink">
                    <p class="navLinkTxt">居酒屋 いずも</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./recruit" class="navLink">
                    <p class="navLinkTxt">採用情報</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./company" class="navLink">
                    <p class="navLinkTxt">会社概要</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink normalBtn">
                    <p class="normalBtnTxt">お問い合わせ</p>
                </a>
            </div>
        </div>
    </nav>
</header>