$white-color: #fff;
$black-color: #1a1a1a;
$accent-color: #B81717;
$large-width: 1100px;
$orange-color: #DA7517;
$gray-color: #E5E5E5;
$footer-color: #1a1a1a;
$font-size-l: 28px;
$font-size-m: 24px;
$font-size-s: 16px;
$heading-font: "Shippori Mincho",
serif;
$text-font: "Noto Sans JP",
sans-serif;
$alpha-font: "Roboto",
sans-serif;